[2017-04-05 19:47] caspervdw opened #1 "Packaging the license"
For distributing under GPL, the license has to be packaged. This can be done via a MANIFEST.in. See for example trackpy (https://github.com/soft-matter/trackpy)

[2017-04-06 13:58] rbnvrw commented on #1
Thanks! This has been done in version 3.0.1.

[2017-04-06 13:58] #1 closed

[2017-04-17 23:06] kyleellefsen opened #2 "Problem with indexing"
I'm developing an image processing program - [flika](https://github.com/flika-org/flika) - that relies on this library. Thank you for maintaining (and thanks to @jimrybarski for writing it).

I recently upgraded to a newer version of this reader and I'm having some trouble opening files. I've pinpointed the problem to the ```_calculate_image_group_number()``` method in the parser class in parser.p

[2017-04-18 07:11] rbnvrw commented on #2
Thank you for your bug report. Could you send the .nd2 file via WeTransfer to rbnvrw@gmail.com ?
Then I can check if removing `len(self.metadata["z_levels"])` would give problems.

[2017-04-18 11:56] rbnvrw commented on #2
Thank you for sending the files, I will try to reproduce the issue and report back with a solution.

[2017-04-18 14:30] kyleellefsen commented on #2
Great, thanks! I look forward to it.

[2017-04-18 14:55] rbnvrw commented on #2
@kyleellefsen it is fixed for the three files you provided, see commit 26138af above.
Code example:
[code]
The `nd2.iter_axes = 'z'` makes the reader iterate over the `z` axis instead of the `t` axis. `nd2.metadata['z_levels']` is an array of all `z` levels.

It would be great if you could test it with the code from the master branch, otherwise it will be fixed in the next release.

[2017-04-18 15:21] kyleellefsen commented on #2
That fixed it. The following code works:

[code]
However, if I don't set the iter_axes to z, I get an error. I see in the reader.py line 112, ``set.iter_axes = 't'``. For most users, most of the time, an nd2 file is only going to have multiple entries along _either_ the 't' dimension or the 'x' dimension, but not both. Because of this, I think it would be a good idea to check which axes should be

[2017-04-18 15:37] rbnvrw commented on #2
This is a nice suggestion. It requires a bit more work to make it a bit more robust, but I will implement it for version 3.0.2. Thank you!

[2017-04-18 15:47] kyleellefsen commented on #2
Thanks! And thanks for supporting this project, it is very useful!

[2017-05-28 15:12] rbnvrw commented on #2
Solved in release 3.0.2

[2017-05-28 15:12] #2 closed

[2017-09-12 08:08] simone-codeluppi opened #3 "Loading images from multiple fields of view"
Hi
My output files have ~ 200 fields of view and the data are zxy with no time points. Is it possible to use pims to load directly the images from each field of view?

When I load the file:

[code]
I get the correct information for one of the field of view. Even after I set ` images.bundle_axes = 'zyx'` I am still not able to access all the images in the file.
I have the same issue if i load the f

[2017-09-12 09:08] rbnvrw commented on #3
Thank you for reporting the issue. I think this is not implemented yet if it is also not working with the legacy code - I will look into it if you can send me an example file via WeTransfer.

[2017-10-30 14:34] rbnvrw commented on #3
I have fixed this in release 3.0.6.

[2017-10-30 14:34] #3 closed

[2017-12-22 12:30] FrankieGaspacho opened #4 "Issue with time metadata"
I am unable to extract the acquisition time (in ms) for each frame.  With pims_nd2, I can extract this info with -

frames[0].metadata['t_ms']  # time of frame in milliseconds

As I do alot of time based imaging, this info is essential.  Is there a way to get this metadata with nd2reader?

Thanks!

[2018-01-03 14:24] rbnvrw commented on #4
You can extract this info using the timesteps attribute, which returns a numpy array of times in milliseconds. This also accounts for uneven frame rates in an NDExperiment.

In your example:

[code]

Please let me know if this helps.

[2018-01-03 14:41] FrankieGaspacho commented on #4
Thanks for the reply!

Unfortunately frames.timesteps returns an empty array.

[code]
Returns

Shape of frame: (24, 24)
Metadata:  {'height': 24, 'width': 24, 'date': datetime.datetime(2015, 3, 20, 12, 15, 19), 'fields_of_view': [0], 'frames': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 4

[2018-01-03 15:16] rbnvrw commented on #4
Could you maybe upload the file via WeTransfer? Then I can have a closer look.
Thank you!

[2018-01-03 15:46] FrankieGaspacho commented on #4
Will do.  Where should I send it?
Thanks

[2018-01-03 18:43] rbnvrw commented on #4
Please post the WeTransfer link (available as an option instead of sending by email) as a comment on this issue.

[2018-01-04 12:39] FrankieGaspacho commented on #4
Got it. Here is a link to the file- https://we.tl/bZuI58R2gZ

[2018-01-04 13:08] #4 closed

[2018-01-04 13:09] rbnvrw commented on #4
This is fixed in the master code and will be released in the next version (you can already try it by using the master code).

[2018-01-04 13:52] FrankieGaspacho commented on #4
Thanks!  Works perfectly!

[2018-04-05 11:59] fabienjammes opened #5 "nd2reader with NIS 3 InvalidVersionError"
Dear all,

I am new to python. I have the NIS software on my microscope computer but it is the version 3.
I am trying to use the nd2reader package to open my nd2 files.
However, I get this error:

  File "C:\Users\jammes\Anaconda3\envs\PhD_FJ_Python\lib\site-packages\nd2reader\parser.py", line 129, in _check_version_supported
    raise InvalidVersionError("No parser is available for that version."

[2018-04-05 13:58] rbnvrw commented on #5
Dear @fabienjammes, thank you for the report.

Yes, this is because the software only officially supports NIS4 files.
I do not know if it will also work on NIS3 files, however:

I have removed the error and replaced it by a printed warning in version 3.0.9 (install from GitHub/pip, conda version is not yet updated).
That way you can test whether it works for your nd2 files, and report back here so

[2018-06-01 02:09] hanasha opened #6 "Array shape"
Hi,
I have problems reading frames from:

imReader
<FramesSequenceND>
Axes: 3
Axis 'x' size: 973
Axis 'y' size: 973
Axis 't' size: 443
Pixel Datatype: <class 'numpy.float64'>

while asking for the first frame:
imReader[0]
I get an error ending with:
ValueError: cannot reshape array of size 947702 into shape (973,973)

Thanks!

[2018-06-01 18:07] rbnvrw commented on #6
Thank you for your bug report.

Can you post the output of:
[code]

Thank you!

[2018-06-01 18:08] rbnvrw commented on #5
@fabienjammes can I close this issue or do you still have problems?

[2018-06-01 19:17] hanasha commented on #6
The output looks as follows (with edited list of frames):

[code]

[2018-06-01 19:40] rbnvrw commented on #6
Thank you for the information. The output looks fine, so I'll need the nd2 file to really debug it.

Please send the ND2 file to the temporary mail address avf697z@shitmail.org (e.g. via WeTransfer) and I'll have a look!

[2018-06-21 21:24] LeBarbouze opened #7 "Reading 'date' in metadata fails within PyQt5.QWidgets.QApplication"
The 'date' entry from `images.metadata` is `None` when ND2Reader is used after `QApplication` has been instantied. All other fields in `images.metadata` are read normally and the image array is also correctly read, as far as I can judge.

Here is a code snippet that shows the problem:

[code]

Here is the output when I execute the code from a terminal:
[code]
and the images are correctly plotted (

[2018-06-29 10:13] #5 closed

[2018-08-23 12:57] rbnvrw commented on #7
Thank you for this bug report. I have not been able to reproduce it on my system, but I don't own a Mac so maybe it's related to the OS.
If you have the time to look into it yourself, I'd be happy to accept a pull request.

[2018-08-23 13:01] rbnvrw commented on #6
Comment: the stack was collected using Jobs module of Elements using both binning (4) and stitching (2x2). The file can be open both by Elements and ImageJ (BioFormats) and the shape is as specified in metadata.

[2018-08-23 13:28] rbnvrw commented on #6
@hanasha I'm not sure what is causing the problem, but I've added a workaround that at least let's you open the file. Can you test with the latest development code from the master branch on GitHub if you can also open your file now?

[2018-09-06 08:47] #6 closed

[2018-09-21 09:52] ggirelli opened #8 "Z resolution (sampling over Z)"
Hello there and thanks for this awesome package! I went through the documentation and the code, and the only thing I could not find is how to extract from the metadata the resolution in the third dimension. Did I miss something? Can it be easily added as a new feature? Thanks! :)

[2018-09-21 10:07] ggirelli commented on #8
Found out how to get the info. Thanks again! :D
[code]

[2018-09-21 10:07] #8 closed

[2018-09-21 11:18] rbnvrw commented on #8
Thank you and I'm glad you figured it out!

[2019-01-03 13:41] baatax opened #9 "Issues loading large size images"
Hi,

I'm trying to load big 3 channel ND2 microscopy images, some of the images it has no problem loading but there are some images that give this error:

[code]

It seems to make a calculation error when calculating the shape..

I ran bundle axes, iter axes and metadata with this result:

[code]

I can share the raw image file, but it's 13.3gig so I'm not sure how to do this.

Thanks in advance,

[2019-01-03 13:48] baatax commented on #9
Edit: The error comes when I try to open the first index like this using this code:
[code]

[2019-01-04 07:00] rbnvrw commented on #9
Hi Axel,

Thanks for your report. I received a similar bug recently, I'll check if that bugfix was released already.

What would help is if you could maybe post a screenshot of the same metadata that the Nikon software provides? Then I know what the correct values should be.

Thank you for your help!

On 3 Jan 2019, 14:41, at 14:41, baatax <notifications@github.com> wrote:

[2019-01-04 07:05] rbnvrw commented on #9
I found the original bug #6 for which a fix was released in version 3.1.0 of nd2reader. Are you using this version, and if not, could you maybe test it with this version?

On 3 Jan 2019, 14:41, at 14:41, baatax <notifications@github.com> wrote:

[2019-01-04 10:39] baatax commented on #9
Yes, I had already seen the previous bugged and I am indeed running 3.1.0.
I tried looking up the metadata on the NIS software, but all I managed to find was acquisition metadata.
Could you tell me how to find the metadata of the image itself using the NIS software?

[2019-01-31 16:17] rbnvrw commented on #9
I'm sorry for my late reply. I don't have access to the Nikon software now, but I believe it was somewhere in a tab under image properties. Can you post the acquisition metadata anyway? Maybe that already gives some insights.

[2019-02-28 17:02] zorba-the-geek opened #10 "Missing metadata"
Hi,

I'm prob a bit dense here, but I am wondering why some metadata is missing with this reader as opposed to https://github.com/soft-matter/pims_nd2

The other reader provides a 'metadata_text' with info related to camera model and microscope settings. It is using the nikon sdk. I am trying to figure out the raw_metadata module and if a label_map is required to get the extra metadata.

[2019-03-07 10:07] rbnvrw commented on #10
I'm not sure which metadata exactly you're after. You can access the raw_metadata object like this:
`reader.parser._raw_metadata` where `reader` is your `ND2Reader` object.

The `RawMetadata` object has a property called `image_text_info` which might contain what you are looking for. For an example file, `reader.parser._raw_metadata.image_text_info` returns:

[code]

So your information could be i

[2019-03-08 19:44] zorba-the-geek commented on #10
Thanks for the response, and yea is exactly what I was looking for. Didn't spot image_text_info. Thanks for the information!

If I figure out a decent way of turning it into a dict I'll push it up, but I don't have too many different types of nd2 files.

[2019-03-19 13:53] rbnvrw opened #11 "Access z-stack metadata"
As reported via email:

[2019-03-19 13:54] #7 closed

[2019-03-19 13:55] rbnvrw commented on #11
See https://github.com/rbnvrw/nd2reader/issues/8 for a possible implementation.

[2019-03-23 22:58] baatax commented on #9
Hi Ruben,

Sorry for the late reply, I couldn't find the original image that produced the error and haven't been able to recreate it ever since..
So I guess the problem is solved.
Thanks for your help.

[2019-03-23 22:58] #9 closed

[2019-04-15 15:53] jbf81tb opened #12 "Channel handling?"
I think the way channels are handled is a bit funny, at least when it comes to the get_frame_2D function. You ask the user to pass an index for the metadata["channels"] list. Within the function you pull the string name for the channel then feed that string into a function that turns the original list into a dictionary that is just channel_name: number. It is that number that is used to generate t

[2019-04-30 06:41] leeleavitt opened #13 "Making it work for my nd2 files"
Hello, not sure how to use github very well, so i will just tell you the problem and my solution to this problem.
in the raw_metadata.py file on line 245 it says
number_of_timepoints = raw_roi_dict[six.b('m_vectAnimParams_Size')]
This causes the function to break down so we replace this with
number_of_timepoints = 0
And the function will run fine after this.

[2019-04-30 08:11] rbnvrw commented on #13
Hi @leeleavitt, thank you for taking the time to report a problem!

Can you tell me a bit more about your problem? What is the error message that you get when the function "breaks down" and what kind of ND2 file are you using (can you post the metadata?)?

Thank you!

[2019-04-30 08:13] rbnvrw commented on #12
This seems like a good enhancement to the package!
I'm not sure why the channels are handled this way, but it makes sense to cut out all the redundant stuff in the middle.

If you have time to organize your fix into a pull request, I would greatly appreciate it.
Otherwise I'll try to get it into a next release.

[2019-04-30 17:20] jbf81tb commented on #12
Yeah, it would easy for me to work on that pull request and get it submitted within the next day or two. I'm glad that I might be able to help.

[2019-05-06 20:34] leeleavitt commented on #13
{'height': 1024, 'width': 1024, 'date': datetime.datetime(2019, 5, 5, 19, 32, 18), 'fields_of_view': [0], 'frames': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 7

[2019-05-06 20:36] leeleavitt commented on #13
This is my metadata. We have a lot of ROI's identified. I suspect this is the issue. Our data is a video file, where each frame is 2 images.

[lee_metadat_ex.txt](https://github.com/rbnvrw/nd2reader/files/3149743/lee_metadat_ex.txt)

[2019-05-08 10:44] HarmlessHarm opened #14 "Unable to: from nd2reader import ND2Reader"
Hi there,

I can't seem to import the ND2Reader.
When following your example code python gives an ImportError on the first line.

![image](https://user-images.githubusercontent.com/9216496/57369729-96c07200-718e-11e9-99e7-344415c0f5fa.png)
![image](https://user-images.githubusercontent.com/9216496/57369745-a3dd6100-718e-11e9-8716-6824e2319684.png)

Sorry if this is just a dumb error on my part but

[2019-05-08 11:22] rbnvrw commented on #14
Hi, thank you for your report.
It seems like you're running in a virtual env - are you sure the python and pip executables are both the same python version and from the same virtual env?

[2019-05-10 17:50] rbnvrw commented on #12
Thanks again for your help! Your PR #15 was merged, closing this now.

[2019-05-10 17:50] #12 closed

[2019-05-10 17:56] rbnvrw opened #16 "Long sequence of frames in metadata"
In the metadata, there is a variable `frames` which is a list of all frame numbers.
This is not very useful. Convert to generator instead to save memory for files without gaps while keeping it flexible at the same time to accommodate more special cases.

[2019-05-10 18:02] rbnvrw commented on #13
Thank you @leeleavitt. It still isn't clear to me what you mean by "it breaks down". Do you receive an error message or do you refer to the fact that `rois` contains a long list of elements that contain only empty elements, i.e.: `{'timepoints': array([], dtype=float64), 'positions': array([], dtype=float64), 'sizes': array([], dtype=float64), 'shape': None, 'type': None}`?

If it is the latter ca

[2019-05-14 13:07] trasse opened #17 "Issues to Open stiched ND2 files"
Hi Ruben,

I can not open stitched Nd2 files from our Slidescanner in Python.
I use Python 3.6 and nd2reader=3.1.0.

This is the metadata that is read:

<Deprecated ND2 C:\Data\slidescanner\20190514_000911_813\Slide1-1-1_ChannelBrightfield_Seq0000.nd2>
Created: Unknown
Image size: 3302x5146 (HxW)
Frames: 1
Channels: Brightfield
Fields of View: 1
Z-Levels: 0

When I open the file the numpy array ha

[2019-05-15 08:11] rbnvrw commented on #17
Hi Tobias,

Thank you for the bug report.

Because I can only work with ND2 files that are generated by my microscope, more 'exotic' files such as the file you're trying to open may or may not work out of the box. If you can attach the ND2 file here or can upload it to a file sharing service, I can have a look at the file structure.

Hopefully that will shed some light on the issues you're having.

[2019-05-15 08:18] trasse commented on #17
Dear Ruben,

thanks a lot! That is very kind of you.
I will send you the file as download link!

Kind regards

Tobias

From: Ruben Verweij <notifications@github.com>
Sent: Mittwoch, 15. Mai 2019 10:12
To: rbnvrw/nd2reader <nd2reader@noreply.github.com>
Cc: Rasse, Tobias <Tobias.Rasse@mpi-bn.mpg.de>; Author <author@noreply.github.com>
Subject: Re: [rbnvrw/nd2reader] Issues to Open stiched ND2 files

[2019-05-15 10:32] rbnvrw opened #18 "Add sample ND2 images from openmicroscopy to the unit tests"
See:
https://downloads.openmicroscopy.org/images/ND2/

[2019-05-16 15:11] leeleavitt commented on #13
I appreciate the help. This package is amazing. I've been tryin to delve in and learn how the package works so that i con conribute, but that has been a bit difficult for me.  Below i the error i am getting.

Additionally the file can be found [here](https://file.io/vxY8z9).

[2019-05-16 16:16] leeleavitt opened #19 "Timesteps in ms unable to be located"
Good Morning.  Using an older version of NIS elements I am attempting to obtain the time-steps of the video we use. Below is the code i get after it cannot get the time-step information.

You can access the video file by following this [link](https://drive.google.com/file/d/11l4RnlhOC2bqUBcXlRQNueQ5o2mMtdkb/view?usp=sharing)

[code]

[2019-05-16 21:28] #19 closed

[2019-05-16 21:29] leeleavitt commented on #19
File was corrupted as the program indicated.  Sorry for my irrelavent post

[2019-06-28 08:14] jni commented on #18
@rbnvrw I've got another image giving me trouble, see https://forum.image.sc/t/nd2-in-python-redux/27108

Direct link to the image: https://cloudstor.aarnet.edu.au/plus/s/GVItFm132IQKJ4t

[2019-09-18 13:06] bellonet opened #23 "Error while parsing some nd2 files"
The reader works well for most nd2 files, however some of my nd2 files are not parsed correctly and I get an error:
EmptyFileError: No axes were found for this .nd2 file.

I think the error occurs during parsing from the end of the file (in `_build_label_map`):
[code]

where for the files that fail: chunk_map_start_location is assigned to 0.

I suspect that this happens with nd2 files that had an

[2019-09-19 07:34] rbnvrw commented on #23
Dear @bellonet thank you for reporting this.
Indeed, the parser now looks for 8 bytes at the end of the file that indicate where the information of frames is stored in the ND2 file. If this is missing, the file cannot be parsed correctly.

Because there is no description of the 'standard' ND2 format, it is non-trivial to fix this issue.
The code in this repository was created by reverse engineerin

[2019-09-19 07:40] #16 closed

[2019-09-19 08:15] rbnvrw commented on #13
I'm sorry, I did not have time to look at this issue but now I do.
Could you please upload the file again?
Sorry for the inconvenience!

[2019-09-19 08:29] rbnvrw commented on #17
Hi Tobias,

I have looked at the file you've send me, and have opened it with Bioformats in ImageJ, then it looks like this:

![imagej](https://user-images.githubusercontent.com/1511097/65226767-bdd96980-dac7-11e9-8c17-385b61631c9c.png)

With the latest nd2reader version, it looks like this when plotted with pyplot:

![nd2reader](https://user-images.githubusercontent.com/1511097/65226798-d0ec3980-

[2019-09-19 10:33] rbnvrw commented on #18
Dear @jni thanks for reporting this.
Could you check if it is working for the latest master version? It is for me, see the metadata below.
If it is not working, could you file a new bug report so I can keep this one separate from your issue?
Thank you!

[code]

[2019-09-20 06:38] trasse commented on #17
Dear Ruben,

thanks a lot!
Now the image looks exactly as expected.

Kind regards
Tobias

[2019-09-20 06:38] #17 closed

[2019-09-26 08:12] rbnvrw commented on #11
This has been implemented in commit cd55b8f

[2019-09-26 08:12] #11 closed

[2019-10-02 23:27] WMAPernice opened #24 "In 3.2.0, get_frame_vczyx() implementation breaks functionality"
Hi everyone,

First of all, thanks to @rbnvrw for all your work 👍 I ran into some issues in the 3.2.0 build and would love to be able to help.

**Unfortunately, the current build of nd2reader (3.2.0) breaks functionality that was previously provided.** This is due to the current implementation of reader.get_frame_vczyx() which replaces reader.get_frame_2D() by providing specific methods via _regis

[2019-10-06 14:18] tsvikas opened #25 "in 3.2.0, get_frame_2D fails"
in `nd2reader/reader.py`, the function `get_frame_2D` in line 55 raises an error `NameError: name 'get_frame_vczyx' is not defined`

it seems to be a typo. the line
`
return get_frame_vczyx(v=v, c=c, t=t, z=z, x=x, y=y)
`
should be
`
return self.get_frame_vczyx(v=v, c=c, t=t, z=z, x=x, y=y)
`

[2019-10-09 07:12] TeaWolf commented on #25
Indeed this seems to work right after the line change

[2019-10-09 10:34] rbnvrw commented on #25
Thank you both for noticing and reporting this issue!

Fixed in commit 2af560aa68cf1ba7ba72cc51c85bd14d1a3a28f4

I'll add a unit test to prevent this in the future and make a new release

[2019-10-09 10:38] rbnvrw commented on #24
@WMAPernice thank you for your very detailed and extensive bug report!

I currently don't have the time to look into this, but will get back to you.
There was an issue #25 related to this that is fixed in the master branch.

Very briefly, the rationale is to more closely follow the PIMS specification that uses the `_register_get_frame` function to register frame generation functions.

[2019-10-15 07:54] rbnvrw commented on #25
This issue is now fixed in release 3.2.1

[2019-10-15 07:54] #25 closed

[2019-10-16 12:50] rbnvrw commented on #24
@WMAPernice I was finally able to get around to looking at this issue.

The rationale is that before, ND2Reader did not respect the `iter_axes` and `bundle_axes` properties in the way it was supposed to do based on the specifications in `FramesSequenceND` from pims.

Therefore, I tried to make a new function that uses the `_register_get_frame` interface, but missed a few important points. I have n

[2019-10-17 03:08] WMAPernice commented on #24
Hey Ruben,

I am hosting a useful ND2 file here: https://nd2tiff.s3-us-west-2.amazonaws.com/2019-9-5_11-Multi-point-test-image_001.zip Please feel free to test changes using that file.

With commit be1be6a the `results` array in get_frame_vczyx() is initialized without y,x sizes - you remove them from bundle_axes before, because you want to be able to iterate over the list later. However, this way

[2019-10-17 07:05] rbnvrw commented on #24
Hi Wolfgang,

Turns out I was completely confused about what frame functions I needed to register - we only needed the original `get_frame_2D` after all and let pims figure out how to bundle the axes.
I mistakenly thought I had to register functions for all possible axis combinations. Oh well.

Thank you very much for pointing this out to me and also for providing me with your very helpful file, t

[2019-10-17 15:53] #24 closed

[2019-10-29 11:29] hftsai opened #26 "Parsing point name in nd2"
Hi Great tools you have created here
I'm a python novice, but I'm currently thinking to automate my experiment process.

We are conducting high throughput experiments with nikon microscopes
one way to annotate experiments during a ND acqusitions is to rename the point name (as screen shot attached)

Is there a function in nd2reader to parse the point name in a multipoint loop?

![image](https://us

[2019-10-30 09:55] ggirelli opened #27 "Z-axis of large ND2 image not properly parsed."
Hi there.

I have a large ND2 image with one field of view and the following XYZ dimensions: 14633x14634x17
Axes are XYCZT with 2 channels and 1 time frame only.
These details are according to the Nikon reader and FIJI metadata.

When I try to read it with ND2Reader I do not get a Z axis:
[code]

I digged a bit and used the RawMetadata class to retrieve the ImageTextInfo and parsed metadata below:

[2019-10-30 11:31] ggirelli commented on #27
I made a pull request with a possible solution here: https://github.com/rbnvrw/nd2reader/pull/28
I guess the reason why that detail is missing from the metadata is that the image was not generated with a standard scan but using the Nikon Large Image Scan tool.

[2019-10-31 20:22] rbnvrw commented on #27
Thank you for your efforts @ggirelli!
I think it does make sense to implement this fallback behavior.
I've added a few small remarks/questions in the PR.
Will merge it as soon as those are resolved!

[2019-10-31 20:33] rbnvrw commented on #26
Thanks @hftsai, I'm not sure if these point names are parsed at this moment, but you can have a look in the attributes in `reader.parser._raw_metadata` (where `reader` is your `ND2Reader` instance). For example maybe the attributes `custom_data`, `image_attributes`, `image_metadata_sequence` or `image_metadata` may contain the information (no guarantees though).

Let me know if you find something!

[2019-11-01 09:20] ggirelli commented on #27
Hi @rbnvrw, many thanks for the prompt feedback! I have replied/addressed your comments, looking forward to hearing back on them :) Cheers!

[2019-11-01 11:26] TeaWolf opened #29 "ND2Reader gets incorrect video length for cut movies with NISElements"
We're dealing with some large movies that were cut into several parts to be treated on other computers, original movie is of dimensions (c, t, x, y, z) = (2, 1715, 512, 512, 35) and was cut into segments of approximately (2, 300, 512, 512, 35) with NISElements.

The issue is that in the nd2 metadata the Dimensions section still shows T(1715) x Z(35).
Therefore your code says that there are more fr

[2019-11-01 11:41] rbnvrw commented on #27
Awesome! Thanks again for your efforts, I've merged your PR, so I'll close this now.

[2019-11-01 11:41] #27 closed

[2019-11-04 19:56] hftsai commented on #26
Thank you!
it doesn't seem to be in the raw_metadata or in the metadata.

I'll look into the Nikon SDK

Thanks!

[2019-11-08 20:21] ColinDTaylor opened #31 "Cannot open certain stitched .nd2 files from Elements"
Hello Ruben,

I am having an issue that I noticed had come up some time in the past but was never fully resolved (in https://github.com/rbnvrw/nd2reader/issues/6). When trying to open certain .nd2 files using nd2Reader I get the error:

`ValueError: cannot reshape array of size 45686334 into shape (6759,6759)`

This happens only on certain images from this run, and I can't seem to find any way to

[2020-01-03 17:17] WMAPernice commented on #24
Hey Ruben,

a happy new year to you!

I wanted to follow-up on you releasing an updated version of nd2reader with the fixes we implemented to resolve issue #24. I would really like to be able to refer to a published version of nd2reader that is fully functional. As far as I can tell, there was no release that included these changes.

Thanks again for all your work in maintaining the library!

My b

[2020-01-06 10:02] rbnvrw commented on #24
Hey Wolfgang,

Happy new year! Thank you for reminding me, unfortunately it slipped my
mind.

I'm releasing a new version now. Thanks again for your efforts!

Best,
Ruben

On 03-01-2020, Wolfgang Pernice wrote:

[2020-03-05 19:15] aaristov commented on #31
Same problem for me. Any updates?

As an alternative, `pims_nd2` handles the same dataset without problems.

[2020-04-30 23:13] bioimage-analysis opened #34 "Z coord of Timepoint seen as Z steps"
Hi there,
First, thank you for the great reader!

I found that when I open nd2 files with different time point but no Z stack, the nd2reader interpret the stage coordinate in Z at every time point as a Z steps.
So I will get this:
```{'x': 512, 'y': 512, 't': 10, 'z': 10}```
While if I look into the metadata:

[code]
I have that for the Dimensions:
[code]

My understanding is that _parse_z_levels

[2020-05-01 04:47] bioimage-analysis commented on #34
Just a little comment on the ```_parse_z_levels``` function I wrote previously, I took it from Github but the ```if 0 != len(z_levels):``` didn't make a lot of sense, in the PIP version it is actually ```if 0 == len(z_levels):```. In any case, I just wonder why putting that exception?

[2020-05-01 15:07] rbnvrw commented on #34
Thank you very much for submitting the issue. That is indeed not the intended behavior. I quickly checked one of my files (x, y, and time series) and did not reproduce the same behavior:

![image](https://user-images.githubusercontent.com/1511097/80814503-4e366b80-8bcc-11ea-8eda-35404c2917e8.png)
![image](https://user-images.githubusercontent.com/1511097/80814538-5d1d1e00-8bcc-11ea-915f-34a0b75f08

[2020-05-01 15:15] rbnvrw commented on #29
Thank you for the report @TeaWolf

I'm not sure where Fiji gets that number from, maybe it is just a count of the frames that can be found in the file, instead of parsing it from the metadata that is saved in the ND2 file (which is apparently not updated when cutting the length in NISElements).

Currently, we rely on the metadata to do everything, because it is much faster than first loading (or s

[2020-05-01 15:19] rbnvrw commented on #34
Actually, I now found that this functionality was added in PR #28 to fix issue #27. Maybe it depends on how NISElements saved the file exactly.

[2020-05-01 16:21] ggirelli commented on #34
Hi @rbnvrw !

I think the issue could actually be this line: `if 0 != len(z_levels):`

The idea of PR #28 was to use the 'z_coordinates' metadata field instead of 'z_levels' when the latter is missing but the former is present (as I have encountered this in some nd2 images).

If the condition above is `!=`, then this becomes the default behavior while it should happen only when the former is absen

[2020-05-01 18:43] bioimage-analysis commented on #34
Hi Gabriele and Ruben,

First @ggirelli, actually if you look at my second post, the version of nd2reader in PyPi is actually ```if 0 == len(z_levels):``` and behave as expected.

@rbnvrw I think the expected behavior for the function is if no Z is found in the dimension part of the metadata, it looks into z_coordinates.

If you look at the following file:
[Seq0000.nd2.zip](https://github.com/rbnv

[2020-05-02 11:45] TeaWolf commented on #29
Well in the mean time I had gotten around the issue simply by looping over the video until error, then setting this as the new length.
Didn't impact performance much in my application.

[2020-05-04 14:34] rbnvrw commented on #34
Hi both, thank you for your help!

It seems that there are three cases:

Case 1: the 'Dimensions: ' textinfo item contains a part with 'Z'. Then we can just return a list of the z levels.

Case 2: the 'Dimensions: ' textinfo item is there, but it does not contain any information on 'Z'. In that case, we should not use the z coordinates as a fallback for the z_levels, but just return an empty list.

[2020-05-05 17:55] bioimage-analysis commented on #34
Hi Ruben,

Thank you for the quick fix, I tried it with multiple files and it seems to work well.

[2020-05-05 18:59] bioimage-analysis commented on #31
Hi Ruben (@rbnvrw ),
I'm having a similar issue with a stitch image:

`ValueError: cannot reshape array of size 1038565 into shape (1019,1019)`

metadata:

`{'height': 1019,
 'width': 1019,
 'date': datetime.datetime(2017, 6, 6, 11, 15, 6),
 'fields_of_view': range(0, 1),
 'frames': [0],
 'z_levels': range(0, 21),
 'z_coordinates': None,
 'total_images_per_channel': 21,
 'channels': ['CSU far red

[2020-05-05 19:11] rbnvrw commented on #31
Thank you for the addition Cedric. @bioimage-analysis @ColinDTaylor @aaristov could you maybe all add a link to a sample ND2 file that I can download?
I'd really like to solve this, but I don't have any files I can try to analyze. Thanks! :+1:

[2020-05-05 22:23] bioimage-analysis commented on #31
Hey @rbnvrw, mine is the sample_data from:
https://downloads.openmicroscopy.org/images/ND2/karl/

[2020-05-29 13:47] ggirelli commented on #34
Hi all, sorry for the late reply. The fix works perfectly also with my files, thank you! :)

[2020-05-29 13:56] rbnvrw commented on #34
Thank you both again, I'll close this issue now. And hope to do a release soon.

[2020-05-29 13:56] #34 closed

[2020-06-04 10:11] WaterKnight1998 opened #35 "Is it possible to read from a io.BytesIO or io.StringIO or just accepts filename?"
I am using this reader in a flask API.

 I would like to be able to use this reader with a io.BytesIO or io.StringIO so there is no need to create a temporal file in the system.

[2020-06-06 16:59] rbnvrw commented on #35
Hi thanks for your question. There is no fundamental reason why this would not be possible, however as it stands, it is not implemented. The relevant code is in `reader.py`: https://github.com/rbnvrw/nd2reader/blob/492d0ec68d21e55e63aa2914f63edc8e0ace74fa/nd2reader/reader.py#L25

The `Reader` class expects a filename and uses `open()` to get a file object. I think if you would use `io.BytesIO` ins

[2020-06-06 17:27] WaterKnight1998 commented on #35
@rbnvrw I am interested. However, maybe I need some, in tha case I will ask you here

[2020-06-30 06:34] joaomamede opened #36 "More metadata?"
Hi, when I print the metadata from Nd2Reader I have a lot of things missing (even comparing to the metadata when opening with bioformats).

Is there any way for us to get more metadata with nd2reader?

Example of metadata in the .nd2 files that are not available (by order of preference and need):
EmissionWavelength
The setup PhysicalSizeZ (we can estimate from the Z positions, however I have the a

[2020-06-30 06:35] joaomamede commented on #36
I realized this is a duplicate. Sorry

[2020-07-01 05:29] joaomamede commented on #10
Hi, Any way we can get timestamps for each time/Frame?

It is not in image_text_info.

[2020-07-02 09:26] rbnvrw commented on #10
@zorba-the-geek did you have any luck?

[2020-07-02 09:29] rbnvrw commented on #36
Hi @joaomamede there is more metadata available but it is "hidden", there is not a nice parser available yet that converts it from the raw bytes to the proper Python dtypes. Some additional data is available via this class https://github.com/rbnvrw/nd2reader/blob/master/nd2reader/raw_metadata.py which is accessible as `reader.parser._raw_metadata`. Hope this brings you a bit closer to what you nee

[2020-07-04 06:52] joaomamede opened #37 "default_coords fails for t (always stuck at time 0)"
default_coords['t'] does not change when assigned.

c and v work fine.

[code]
[code]

[2020-07-04 07:11] joaomamede commented on #37
I had
frames.iter_axes = 't'
Sorry.

[2020-07-06 00:00] #37 closed

[2020-07-06 00:13] joaomamede commented on #36
hi,
Basically I have my Z step accuracy set to open to speed up live cell imaging. That means that the Z_coordinates are not precisely what Z distance of my experiment.
What I mean is, it would be helpful to have the set-up Z-stepping of the experiment. So far I was doing this:
scalez = round(nd2meta['z_coordinates'][1]-nd2meta['z_coordinates'][0],3)
Which it doesn't always work depending on that

[2020-07-06 09:44] rbnvrw commented on #36
The approach you mention via the `_raw_metadata` is indeed the only way to get the "extra" attributes that are not implemented via the `.metadata` attribute. However, the z levels should also be in the `.metadata` attribute but I'm not sure if they are the same ones.

I am a bit hesitant to expand the `.metadata` dictionary because it'll get really big, but one could add a `ParsedMetadata` class w

[2020-07-06 18:57] joaomamede opened #38 "Bad reader sizes are parsed."
Hi,
nd2reader is having trouble reading a file as it finds "Zs" that are not there.

Image was acquired with triggered imaging
1 Z, 120T, 2044 Y, 2048 X, 24 Visit Points.

pims_nd2readerSDK and pims.bioformats read the file fine.
I can share but this file is 20GB.
It did this to 2 files from two different experiments.
I'll try to crop the data to a small XY, if it replicates I'll share.

[code]

[2020-08-13 18:01] ggirelli commented on #23
Hi, just dropping a line here in case it might help. I have had some experience with broken nd2 files the file transfer from the server got interrupted. It is true that the nd2 file is opened by ImageJ (or FIJI), but at least for my case the single stacks where all jumbled up together. I.e., the beginning of the second was in the end of the first and so on. I am not sure whether it is worth invest

[2020-08-28 11:33] WaterKnight1998 opened #41 "[ERROR] Library not working in Windows"
I have tried to import your library in Windows and I am getting following error:

[code]

[2020-08-31 08:19] ggirelli commented on #41
Hi there! *(I am not the maintainer of this repo, just thought maybe I could help you out here)*

It looks like something wrong with the installation of the `pims` dependency, like a dll (`v6_w32_nd2ReadSDK.dll`) is probably missing.

Does the same error show up if you run the following?

[code]

I googled around a bit, and I found [this possible solution on StackOverflow](https://stackoverflow.co

[2020-09-14 09:12] rbnvrw commented on #31
This should now be fixed in the latest master version with PR #40 (thanks again @ggirelli !)
If anyone could test this with their images, that would be appreciated.

[2020-09-18 09:42] aaristov commented on #31
Amazing! Now I can read my stitched nd2 files! Thanks a lot guys @rbnvrw @ggirelli ! Please bump the version number to signify this fix.

[2020-10-23 14:32] ggirelli opened #42 "VERSION handling in setup.py breaks some automatic tools"
Hi there! While waiting for the new release (my ability to use the package really depends on #33 ) I tried to use my dependency manager (I use [`poetry`](https://github.com/python-poetry/poetry)) to add `nd2reader` current `master` branch version directly from git.

As most dependency managers do not actually execute the `setup.py` file, having the version flag as a constant in the `__init__.py` f

[2020-10-25 18:03] ggirelli commented on #31
The fix seems to break things for 3D images... I am looking into it.

[2020-10-27 13:48] rbnvrw commented on #41
Thanks for weighing in @ggirelli and thank you for the bug report @WaterKnight1998

The relevant line in the error is here: `from pims.api import *` followed by `from pims_nd2 import ND2_Reader as ND2Reader_SDK`.

Pims is trying to import the `pims_nd2` module that you have installed. [This is a different library which uses the Nikon SDK](https://github.com/soft-matter/pims_nd2). I see that in the

[2020-10-27 13:48] #41 closed

[2020-10-28 18:58] rbnvrw commented on #31
@ggirelli OK thank you. please keep us posted. Does it happen for images with (x,y,z,c) channels only or also (x,y,z,t) or (x,y,c,t) images for example?

[2020-11-09 21:41] ggirelli opened #44 "DTYPE not properly parsed [NotImplemented]"
See [here](https://github.com/rbnvrw/nd2reader/blob/df6d70e7d46dc4c97b99ab9e6f856d9333648650/nd2reader/parser.py#L111).

[2021-02-07 06:07] bioimage-analysis opened #45 "Issue to open stitched RGB nd2 files (related to issue #17)"
Hi @rbnvrw ,

I recently tried to open an nd2 image with nd2read and I have a very similar issue than issue #17, when I tried to open it with Bioformats or PIMS nd2-reader, the image is distorted. In nd2reader, it seems that the image is skipping line and the format is off.
It's an 8Bits RGB image as such in Elements:
<img width="793" alt="Screen Shot 2021-02-06 at 9 58 33 PM" src="https://user-im

[2021-02-10 12:17] jboulanger opened #46 "wrong number of z plane / time points"
Hello,
I might be missing something but a file with 1419 images planes as a 2D time sequence is decoded as an image with 1419 z planes and 1419 time points.

[code]
gives:

Image size: {'x': 512, 'y': 512, 't': 1419, 'z': 1419}
Number of images:  1419

The iter axe is also misidentify as being z instead of t..
[code]

[2021-02-12 09:12] ggirelli commented on #45
Hi! Thanks for sharing the file :) I will have a look at this next week as I got my hands on some other problematic stitched nd2 files from some colleagues.

[2021-02-22 23:12] ninning opened #47 "Plotting ROI's from nd2 files"
Hi!

Im trying to extract from ROI metadata from the nd2 files which i kind of drew like this.

![Screen Shot 2021-02-22 at 6 05 00 PM](https://user-images.githubusercontent.com/24235120/108782212-2ccab580-7539-11eb-878b-e03e69d67bbe.png)

And after extracting the ROI metadata the output is in a format im not familiar with.

![Screen Shot 2021-02-22 at 6 10 59 PM](https://user-images.githubusercon

[2021-03-10 08:56] dkeekstra opened #48 "KeyError when opening nd2 file"
When i'm opening a nd2 file I get a key error and a return 0.
Far before that there is a warning about Z-levels:  UserWarning: Z-levels details missing in metadata. Using Z-coordinates instead.
Unfortunately I cant share the file but it contains a 500 frames long video of a microscope. The file is about 1gb.

Here is a part of the trackback:

nd2reader\raw_metadata.py:171: UserWarning: Z-levels de

[2021-03-15 16:56] aknckaan commented on #26
I was having the same issue then I noticed that the point names are saved at reader.parser_raw_metadata.image_metadata['SLxExperiment']["uLoopPars"]["Points"]

[2021-03-15 17:27] rbnvrw commented on #26
Great that you found this. The discoverability of all these attributes is quite low at this point. It is basically an almost one-to-one mapping of the ND2 file format into the raw metadata class. It would be great if we can improve this in future versions. I'll leave this open as a reminder.

[2021-03-15 17:29] rbnvrw commented on #47
Thank you for your report @ninning! If this shape is stored in the ND2 file, there should of course be some way to implement this. I think that currently, only circular or rectangular ROIs are parsed correctly. This would be a nice improvement but I don't have the time myself to implement it. Of course PRs are very welcome.

[2021-03-15 17:32] rbnvrw commented on #46
Thank you for your report @jboulanger. The `iter_axes` attribute is something you can change yourself to determine over which axes to iterate, see this documentation: http://soft-matter.github.io/pims/v0.5/multidimensional.html

The size issue is a bit more challenging. Can you post a screenshot of what it is supposed to be in the ND2 software?

[2021-03-15 17:43] aknckaan opened #49 "Loaded images are gray scale"
I am reading the nd2 file with the library however RGB channel doesn't show up.

[2021-03-18 15:41] jboulanger commented on #46
Thank you for looking into this.

I agree it is possible to change the iter_axes but still one would expect to have to use 't' for a time sequence and 'z' for a 3D image stack.

Here are screenshot of the image window in NIS Elements:

![image](https://user-images.githubusercontent.com/3415561/111653317-bb141d80-87ff-11eb-8f7d-cfa2616db6b5.png)

And here is the field in 'Description' field of the

[2021-03-23 16:05] rbnvrw commented on #42
Regarding the release: there seem to be a few problems in parsing files that may or may not originate from https://github.com/rbnvrw/nd2reader/pull/40, see #46, #38 and your comment in https://github.com/rbnvrw/nd2reader/issues/31#issuecomment-716187145 First these things have to be fixed - I hope I'll have some time to look into this.

I am not familiar with poetry, but exposing a `__version__` a

[2021-03-23 16:25] ggirelli commented on #42
Yes, apologies. I planned to have a look at this but I am currently focused on wrapping up things for my thesis defence :)
I believe the issue is due to the fix for stretched file parsing. I believe the best approach here would be to comment that part of the code and work on it on a separate fork/branch.

Once the package is built and release, it is not a problem. The issue arises when trying to i

[2021-03-23 21:33] ggirelli commented on #36
Regarding the extraction of the Z step, I have had some adventures with the file generated in my lab.

As the stage is very slightly wobbling every now and then (of approx. 25 nm, as registered by the instrument) it is not obvious to obtain a Z step from the distance between each Z location/coordinate. In my case, I can extract the Z step from the stage metadata by parsing and ImageText field with

[2021-04-07 03:53] joaomamede commented on #36
This is what I did

[code]

[code]

[2021-04-07 03:56] joaomamede commented on #36
How did you get to this?

My solution above, sometimes fails when the file is a bit different.

 image_text_info[b'SLxImageTextInfo'][b'TextInfoItem_5'] is not always there.
(New NIS-elements didn't give me an error so far though)

[2021-04-07 23:50] guiwitz opened #50 "Bug in attempt to remove unwanted bytes"
Hi everyone,

first, thanks for this great library!

I think the recent PR #40 by @ggirelli introduced a bug in the library, as I'm not able anymore to read some multi-channel files. Specifically, when I open a file with ```nd2file = ND2Reader(fh)``` and try to get a given frame, the first channel works fine with ```nd2file.get_frame_2D(c=0)``` but the other channels like ```nd2file.get_frame_2D(c

[2021-04-23 10:39] rbnvrw commented on #50
Thank you @guiwitz I agree with your analysis. It is fixed in the master now, I'll do a few checks and release a new version later today.

[2021-04-23 10:39] #50 closed

[2021-04-23 10:42] rbnvrw commented on #31
@ggirelli could you test this again with the latest fix from #50?

[2021-04-23 10:43] rbnvrw commented on #38
Thank you @joaomamede. Could you please test this again with the latest master version? There was a small error in the parsing code that might affect this issue as well (see #50). Thanks!

[2021-04-23 10:53] #42 closed

[2021-04-23 10:54] rbnvrw commented on #42
Hi @ggirelli I've implemented your fix, let me know if it works, otherwise please reopen.

[2021-04-24 14:15] rbnvrw opened #51 "Build error on Travis due to SSH git url for docs"
Build error on Travis due to SSH git url for docs

Checkout github actions as an alternative method

[2021-04-26 07:43] ggirelli commented on #31
@rbnvrw sorry, I am back after a short break after submitting my thesis :)
I'll test this later this week and post here!

[2021-06-23 18:47] rbnvrw commented on #31
@ggirelli congratulations on submitting your thesis! do you have time to test this now? :-)

[2021-06-23 19:18] rbnvrw commented on #51
Done: CI unit testing now on Github actions
Todo: code coverage reports?

[2021-06-24 10:58] LordKnish opened #52 "Colors wrong when saving ND2 to Tif."
Hi,
I am using ND2reader to take each color channel (3 in my case) combine and export to a tif. This is an example of what it should look like:
![31 5 21 alk ascending concentration_croppedt01xy01 (1)](https://user-images.githubusercontent.com/6944124/123251054-70d3c400-d4f3-11eb-8d65-57a0e0d0a549.png)

but instead I get this image which seems like the colors are completely off.
![ImageFromND2_hou

[2021-06-29 07:30] ggirelli commented on #52
Hi @LordKnish, I believe the color issue is due to the default value that `matplotlib` assigns to the `cmap` option of `imsave` (your `plt.imsave` part. The default values is set to use the `viridis` colormap, while you want an RGB image (see [here](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.imsave.html)).

I see different options here:

1. Change the colormap value to one that su

[2021-06-29 07:31] ggirelli commented on #31
Hi @rbnvrw , thanks and sorry, it's been crazy a crazy period before/after the defense :)
I will take care of these in the next couple of weeks!

[2021-06-29 10:35] LordKnish commented on #52
I tried experimenting with colormaps both through `matplotlib` and also through `cv2` and still had issues with colors not showing up. Also when concatenating the Images together I get an error when trying to save since each array is uin16. When I have tried converting to Uint8 I lose data and get lines in the image.

Also some more info on the channels themselves.
C0 is a gray / white layer that

[2021-06-29 10:46] LordKnish commented on #52
@ggirelli This is the results of the colormaps tests I tried. These are the most similar results of colormaps with their respective names. The issue is I am still missing that layer of blue and red from the Cy3 and Dapi layers.

![download](https://user-images.githubusercontent.com/6944124/123784616-4a8d9a00-d8e0-11eb-9fac-8f5f83b267e0.png)

[2021-06-29 10:58] ggirelli commented on #52
I see. I have to admit that I have limited experience with `cv2` and generally use `skimage` and `tifffile`instead.

Regarding the issue with bit-depth, I would recommend checking out the `tifffile` package, as I have never had issue in importing/exporting images with it.

Regarding the colormap issue, I have never assigned colors to channels in Python. To the best of my knowledge (quite possibly

[2021-06-29 11:06] LordKnish commented on #52
I am going to try out Tifffile and see how it works with saving a concatenated image.

As for the TIFF formats tags. below is a full analysis of the tiff original image during ImageMagick. Let me know what you think.

[code]

going to investigate that post from tifffile curator but not sure how well it will work since I want to use the images for analysis from an AI not with ImageJ

[2021-06-29 11:10] ggirelli commented on #52
If the analysis is done via deep learning or similar I would not expect the color label to matter, only the intensity of the different channels (if the ML approach you use can handle them separately). If that is the case, even if you see the wrong colors or use different color maps, would that affect your results? 🤔

[2021-06-29 11:12] ggirelli commented on #52
I would also recommend opening an issue for help in the `opencv` or `tifffile` repositories, as they might know more details on this :smile:

[2021-06-29 12:18] LordKnish commented on #52
The main thing is that our AI works a bit differently but I can't really go into detail on that. Either way we need to convert the ND2 file to either tiff or png and have the output be the same as NisElements output. First of all I think that combining the channels is the first thing that needs to change. You said concatenating the channels together so I will try that out with Tifffile but just ke

[2021-06-29 12:21] LordKnish commented on #52
Update @ggirelli I tried out Tifffile and it outputs a black image and posts the following error to the console `TiffWriter: data are stored as RGB with contiguous samples. Specify the 'photometric' parameter to silence this warningomplete [ImageFromND2_x0.fov4.png]`

I can open an issue there if you are unsure

[2021-07-05 06:44] jni opened #53 "Single time point exported from time series appears to have as many frames as original"
I have an nd2 from a collaborator that contains a single frame out of a longer time series. When I open it with nd2reader, it appears to have 193 time points, as the original time series did. However when I try to access any frame other than `[0]` I (understandably) get a `KeyError`. Is there any way for me to introspect this file to know that there is only one time frame within it?

[example file

[2021-07-13 19:56] joaomamede opened #54 "reading from files being written"
Do you think it's possible to read data from files from experiments currently being acquired(extremely long time lapses?).

The idea would be to manually shape the reader.

We want to analyze the data while it's being acquired to do conditional imaging.

Thanks.

[2021-07-16 06:58] rbnvrw commented on #54
@joaomamede that is an interesting idea! Currently that is hard because of the way the ND2 file format is structured.

There is a header at the start, then all the data and at the end, there is a chunk of data known as the 'label_map' (see https://github.com/rbnvrw/nd2reader/blob/e44d392ba774dda1748c21ccdd518c5896907894/nd2reader/label_map.py) which contains info on where the data and metadata is

[2021-07-16 17:38] joaomamede commented on #54
Thank you. It must be possible though as NIS elements allows for data reading while the experiment is going.

For either conditional imaging with HCA/jobs or for viewing the previous data while it's acquiring.

Any hint on your code (function where you read and seek) that I can mimic/explore?

I have little experience in binary file parsing.

[2021-08-07 00:29] joaomamede commented on #54
I went digging into the parser, raw_metadata, Label.py etc.

I think the easiest way to do this would be (so that we use the code that you wrote fully):
- Have a file of exactly the same size and structure and basically use it to grab the last portion of the file that gives the metadata (        the raw_text variable).
-  have a pre assembled raw_text variable that is fed into the Parser class.
Ba

[2021-08-10 18:09] lillyguisnet commented on #23
Hi! Just wondering if there has been any updates on this issue or plans to address it in the future? Thank you!

[2021-08-16 05:08] FrickTobias commented on #49
Hi aknckaan,

Could you give more information about your situation?

Remember that someone else will not know anything about your system, versions, whether you are interpreting your traceback correctly, etc. Here is an example issue I made up, where someone more experienced could either help the programmer understand what they have done wrong or find the problem in the package.

In this case it tu

[2021-08-16 07:06] ggirelli commented on #31
@rbnvrw better late than ever, I just tested it on my files. All good on my end 😄 🎉 🎆

[2021-09-03 17:46] joaomamede commented on #54
I forked nd2reader trying to get this working.

So far it, it is not working. The plan I tried to implement is to give two filenames to the reader. One picks the metadata and the other the data. I think nd2reader got lost in a seeking the right starting point.

https://github.com/joaomamede/nd2readerlive

[2021-09-15 05:23] FrickTobias commented on #31
### Update

I'm getting the same error for any image I have taken where I am using more than one channel. So possibly this merits a separate issue as I can reproduce it even when I have non-stitched images.

For every image I test on from my most recent dataset, `channel=0` always works whereas `channel=1` never works (for example in a syntax like this `image = images.get_frame_2D(c=channel)`).

[2021-10-13 11:32] zolfariot opened #55 "git-lfs in the repo pointing to missing objects"
Trying to clone/fork this project to an internal remote (based on GitLab) I found that any attempt to push the repo was rejected (by gitlab prereceive hooks) because of missing LFS objects.

Actually, just cloning the repo from GitHub I can see that there are references to missing LFS objects

[code]
[code]
[code]

The concerned objects are the following (the first one still present in the repo, t

[2021-11-02 16:27] zjniu opened #56 "nd2reader outputs empty arrays for certain ND2 files."
Hello,

I am having some trouble reading certain ND2 files using nd2reader. It successfully reads the metadata, but when I index the image itself, an empty numpy array is outputted. [Here](https://github.com/zjniu/nd2reader-issue/blob/master/not_working.nd2) is an example of an image that doesn't work. [Here](https://github.com/zjniu/nd2reader-issue/blob/master/working.nd2) is a very similar examp

[2021-11-08 04:48] joaomamede opened #57 "Improving metadata: Add X and Y stage coordinates in Metadata."
Adding this to the code seems to do the trick.
*same as z_coordinates"

[code]

[code]

Any chance we can add this to the main branch code?

[2021-11-08 18:20] rbnvrw commented on #57
Hi @joaomamede thank you for your contribution! Could you turn it into a pull request? Then I'll look at it in more detail and incorporate it. Thanks!

[2021-11-08 18:22] rbnvrw commented on #55
Thank you for your report. I think the files are no longer available sadly, I'll try to rewrite the history and report back.

[2021-11-08 18:27] rbnvrw commented on #53
Thanks for the report. Yes, this is currently a known limitation, the metadata is used exclusively to access frames. It would be good to solve this, but it requires an extensive rewrite that I currently don't have time for unfortunately. I'll leave this as a reminder so I can hopefully look at it again at a later time. Of course, pull request are also more than welcome.

[2021-11-08 18:32] rbnvrw commented on #49
Thank you for your report @aknckaan and thanks @FrickTobias for the help.

Could you provide some more information on the problem as @FrickTobias suggested? Is your problem maybe already solved in the meantime?

[2021-11-08 19:59] joaomamede commented on #57
Will try doing it this week.
I already had a fork trying to make the "live" version of the reader and surprisingly github doesn't let me do two forks!

[2021-11-10 19:45] rbnvrw commented on #57
Thank you for the PR, awesome!

If you want to work on multiple changes, you can fork once and create multiple branches in your fork, for which you can submit PRs ;-)

[2021-11-10 19:58] rbnvrw commented on #44
Thank you for your report @ggirelli and sorry for the late reply.
Do you have a suggestion on how to implement this? Otherwise I'll decide what to do with it before the next release (either try to decide from the metadata or leave it as-is).

[2021-11-11 09:44] ggirelli commented on #44
So, the `Parser._raw_metadata.SLxImageAttributes.ePixelType` tag seems to match the [SampleFormat TIFFTag](https://www.awaresystems.be/imaging/tiff/tifftags/sampleformat.html). Hence, possible values should be:
[code]
We can combine this with the bits per pixel from the `Parser.SLxImageAttributes.uiBpcInMemory` tag to build a `dtype` compatible with `numpy`. How about something like:
[code]
Hope t

[2021-11-21 03:33] kevinjohncutler commented on #26
I would find this enhancement extremely useful - filtering data by point name is something I do regularly. Until then, @aknckaan's comment is workable. One thing I had to contend with is that `reader.parser._raw_metadata.image_metadata` gives byte objects, not strings, as the keys and values. One can recursively convert or just deal with typing `b'Points'` etc., but unless I'm just being stupid, a

[2021-11-23 01:24] zjniu commented on #56
Are there any updates on this issue?

[2022-01-03 18:34] rbnvrw commented on #56
Thank you for the PR and apologies for the delay. I'm looking at the PR now.

[2022-01-03 18:37] #56 closed

[2022-01-09 14:44] loganfred opened #61 "documentation link is broken"
![Screen Shot 2022-01-09 at 9 42 19 AM](https://user-images.githubusercontent.com/24829027/148687230-e339e3a5-8aae-4ed6-8f11-a197b7495bd8.png)

[2022-01-17 10:18] GiorgiTorta opened #62 "Cannot open nd2 files obtained with version 5.21.03 of the acquisition software"
Hi!
I'm trying to use nd2reader with some nd2 files obtained from a Nikon NIS Elements but I get a "ZeroDivisionError".
The version of the the acquisition software is 5.21.03.
Since I've read that nd2reader has only been tested with version 4.13, is it possible to use it with files obtained with a later version of the acquisition software?

Thanks for your help

[2022-02-03 14:41] alonyan opened #63 "parser.calculate_image_properties breaks if "z_levels" are empty"
<img width="1006" alt="Screen Shot 2022-02-03 at 9 37 54 AM" src="https://user-images.githubusercontent.com/22939455/152363971-1e3d9138-6ab3-4f25-a6c3-01dbc3ec86e9.png">
<img width="1064" alt="Screen Shot 2022-02-03 at 9 41 28 AM" src="https://user-images.githubusercontent.com/22939455/152364653-d9e9e774-90e0-4da3-aec3-c954de8ff092.png">

[2022-02-19 14:15] rbnvrw commented on #61
Thank you for your report, this should now point to the correct link https://open-science-tools.github.io/nd2reader/

[2022-02-19 14:15] #61 closed

[2022-05-28 16:05] joaomamede opened #64 "float64 .nd2 files don't recognize intensities above 2**16-1"
When opening a .nd2 that was deconvolved that has intensity values higher than 65535.0, they don't get recognized and the image doesn't render well.

[code]
In this example, only the green signal is over 2**16-1 in intensity. The green signals that are higher show up as nan or 0
![image](https://user-images.githubusercontent.com/46799914/170833339-e92fff23-d3d7-467c-a416-c366b950a82a.png)

[2022-09-19 19:56] TanviDeora opened #65 "pull out the label dXPos/dYPos and dPosX/dPosY"
I need to pull out these two labels - dXPos/dYPos and dPosX/dPosY from the metadata. Which one is function x_data/y_data in label_map.py accessing and how I could get all those four labels?

I appreciate the help!

[2022-09-28 13:30] BennyGinger opened #66 "Wrong z parameter in Focused EDF files"
Hi,

We have some imaging where we used focused EDF (fancy maxIP). The problem is when I open these images with nd2reader and run nd2reader.sizes it still gives me z>1, even though it should not be there. However, if I try to get_frame_2D() with z=2 for example, it gives me an error. Only running it with z=0 works...

Any ideas how to get around that?